<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035561747062-posfpblbn79psl85gvr4l2944vmf2pqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035561747062-posfpblbn79psl85gvr4l2944vmf2pqb</string>
	<key>API_KEY</key>
	<string>AIzaSyBg1C_IR90ESk6P3qvik4j54zq9WEicTg4</string>
	<key>GCM_SENDER_ID</key>
	<string>1035561747062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.honeytalk</string>
	<key>PROJECT_ID</key>
	<string>honeytalk-53099</string>
	<key>STORAGE_BUCKET</key>
	<string>honeytalk-53099.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035561747062:ios:a2cd1a09cf54d4403b5557</string>
</dict>
</plist>
